main {
    padding: 1.4375rem;
    margin: 0 auto;
    margin-top: 1.4375rem;

    .signUpIntro {
        color: #ffffff;
        text-align: center;
        font-weight: 700;
        margin-bottom: 4.3125rem;

        h1 {
            font-size: 1.8rem;
        }

        p {
            font-weight: 400;
            line-height: 1.5;
        }
    }

    .signUpSection {
        color: #ffffff;
        border-radius: 0.6875rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 5px;

        &__Promo {
            text-align: center;
            padding: 1.625rem;
            background-color: $blue;
            width: 100%;
            border-radius: 0.6875rem;
            font-weight: 600;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 5px;

            span {
                font-weight: 400;
            }
        }

        &__Form {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 0.6875rem;
            color: $darkBlue;
            padding: 1.5625rem;

            p {
                text-align: center;
                font-size: 0.6875rem;
                font-weight: 400;
                color: $darkBlue;
                margin-top: 0.875rem;

                a {
                    color: $red;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (min-width: 69.375em) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;

        .signUpIntro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            padding: 5.625rem;
            margin-bottom: 0;


            h1 {
                font-size: 3rem;
            }
        }

        .signUpSection {
            width: 31.75rem;
            justify-self: center;

            &__Promo {
                padding: 0.625rem;
            }
        }
    }
}